<%- include('partials/head') %>

<div class="container"><%- include('partials/header') %></div>
<div class="container">
	<div id="body">
		<%- include('pages/index') %>
	</div>
</div>
<div class="container"><%- include('partials/footer') %></div>
