<%- include('../partials/head') %>

<div class="container"><%- include('../partials/header') %></div>
<div class="container">
	<h1>About</h1>
</div>
<article>
	<div class="container">
		<div class="row" style="width: 130%">
			<div class="col-sm-8 col-md-6 about-pg" >
				<p>Welcome to the Irie Stomach Blog!</p>
				<p>This deliciously informative blog is jam packed with mouthwatering recipes and tasty foods for thoughts.</p><img src="/img/about-pic.png" alt="about me" style="float: right">
				<p>As a child I grew up with my grandmothers (mother&rsquo;s side and father&rsquo;s side). Both women were strong and independent and they love to cook.&nbsp; I was always in the kitchen along side them because I admired them so much I would follow them everywhere and try to study them so I could be just like them.&nbsp; One thing I observed about these women was the pride and passion they had for cooking.&nbsp; They were like artists creating a masterpiece.&nbsp; Their respective kitchens were always stacked with food and all the utensils needed to create their culinary masterpieces. I also observed how they respected the plants and animals they used for creating their meals.</p>
				<p>My maternal grandmother (whom we called Baba) always grew her own herbs and vegetables and she always talked to her plants and made sure they had what they needed to grow strong and healthy.&nbsp; Her plants were like her other set of children.&nbsp; As for meat, she raised chickens and goats and she gave them the same care and attention as her plants.&nbsp; The utensils she had for cooking were not fancy Cuisinart, Braun, Black and Decker or Proctor and Gamble products, rather they were dutch pots made by the local blacksmith, a set of silver cooking spoons, fork and ladle made by the same black smith and a set of knives her sister in England sent her many years ago.&nbsp; She had an old kerosene oil stove for cooking and her oven was made outside using zinc sheets wood chips and concrete blocks which she referred to as &ldquo;Hell a top, Hell a bottom&rdquo;.&nbsp; When she baked her out-of-this-world Jamaican black cake she would call it Hallelujah and thus the phrase &ldquo;Hell a top, Hell a bottom and Hallelujah in a middle&rdquo;!&nbsp; Baba&rsquo;s stew chicken and rice and peas and her fried fish and cornmeal dumplings were to die for not to mention her many delicious veggie dishes.</p>
				<p>&nbsp;</p>
				<p>My paternal grandmother (whom I called Mom) was a bit fancier than my Baba she cooked the traditional dishes using some utensils she acquired from her travels to England and America.&nbsp; &nbsp;Mom was on the wealthier side and was able to afford a gas stove with built-in oven.&nbsp; She had a house cleaner but no one absolutely no one would do the cooking but her.&nbsp; Although she was a career woman; a school principal, she always made time to make her family dinner and she loved entertaining her friends and work colleagues.&nbsp; Having a caterer to host her events was out of the question, she could put together a 3 course meal for up to 20 people with ease.&nbsp; I really loved her sweet potato pudding, ackee and salt fish and her curried chicken.&nbsp; These are just a few of her famous mouthwatering dishes. Mom was also good at raising animals, before she moved to the big city of Kingston, she lived in the country and raised pigs, chickens and goats.&nbsp; She also was very handy in the garden and like my Baba she took loving care of her plants and trees.</p>
				<p>&nbsp;</p>
				<p>Mom and Baba both had extensive knowledge of herbs and spices and their medicinal and cooking uses.&nbsp; I feel truly fortunate to have been raised and trained by these exceptional women.&nbsp; Hence my passion for cooking and food.&nbsp; So I invite all my readers to dig in and enjoy a unique taste experience that is sure to have you coming back for seconds.</p>
					
		</div>
	</div>
</article>
<div class="container"><%- include('../partials/footer') %></div>
